@model cosoLibri.Models.Libro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Codice" />
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnoPub" class="control-label"></label>
                <input asp-for="AnnoPub" class="form-control" />
                <span asp-validation-for="AnnoPub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lingua" class="control-label"></label>
                <input asp-for="Lingua" class="form-control" />
                <span asp-validation-for="Lingua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkEditore" class="control-label"></label>
                <select asp-for="FkEditore" class="form-control" asp-items="ViewBag.FkEditore"></select>
                <span asp-validation-for="FkEditore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
